*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.idx
.DS_Store
cover_letters/*
!cover_letters/cover_letter.tex
!cover_letters/cover_letter.pdf
resume_references/
work_sample.txt
Unofficial Academic Transcript.pdf